# Oroboros - Epydoc

[epydoc]

name = Oroboros API doc
url = https://github.com/Uthopik/oroboros-astrology

modules = oroboros
top = oroboros

output = html
css = grayscale
target = doc
docformat = restructuredtext
sourcecode = no

verbosity = 1
private = no
imports = no

#.
